<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Andy Van Den Heuvel">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="a.css" media="all">
	</head>
  	<body>
    	<div id="wr">
    		<p><a href="/"><img src="logo.png" alt="Koara" /></a></p>

			<ul id="nv">
			  <li>Currently v0.6.0</li>
			  <li>·</li>
			  <li><a href="/docs.html">Docs</a></li>
			  <li>·</li>
			  <li><a href="/grammar.html">Grammar</a></li>
			  <li>·</li>
			  <li><a href="/projects.html">Projects</a></li>
			</ul>
					
			<%= content %>
    	</div>
	</body>
</html>