<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Andy Van Den Heuvel">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="a.css" media="all">
		<link rel="shortcut icon" href="favicon.png" />
	</head>
  	<body>
    	<div id="wr">
    		<p><a href="http://www.koara.io"><img src="logo.png" alt="Koara" /></a></p>
            
			<ul class="nv">
			  <li>Currently v0.13.0</li>
			  <li>·</li>
			  <li><a href="/docs">Docs</a></li>
			  <li>·</li>
			  <li><a href="/grammar">Grammar</a></li>
			  <li>·</li>
			  <li><a href="/projects">Projects</a></li>
			  <li>·</li>
			  <li><a href="/demo">Demo</a></li>
			</ul>
					
			<%= content %>
    	</div>
	</body>
</html>