body {color: #3D3936; margin: 60px 20px; font-family: Arial,sans-serif; font-size: 16px; line-height: 1.6; text-align: center;}
h1 { font-size: 27px; font-weight: bold; line-height: 1.2; margin: 2em 0px .5em;}
h2 { font-size: 18px; font-weight: bold; line-height: 1.2; margin-bottom: 1em; margin-top: 3em; text-transform: uppercase; }
a { color: rgb(87, 173, 104); text-decoration: underline; }
#wr {margin: 0 auto; text-align: left; max-width: 660px;}
#nv {color: #999; list-style: none; margin: 12px 0 48px 0; padding: 0;}
#nv li {display: inline; margin: 0; padding: 0;}
